body {
  font-family: "Raleway", sans-serif;
  background-color:var(--var2-op1);
  background-size: 400% 400%;
    background-attachment: fixed;
}

/* Hero Section */
:root{
  --var1-op1:rgb(20, 2, 40);
  --var2-op1:#00e0fd;
  --var3-op1:#5e12ad;
  
  --var1-op2:#5e12ad;
  --var2-op2:rgb(20,2,40);
  --var3-op2:#00e0fd;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card{
  border:none;
  background-color:transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.cardmodel{
  display:flex;
  text-align:center;
  height:80px;
  justify-content:center;
  align-items:center;
  border: 1px solid #5e12ad;
  color: #5e12ad;
  background-color:transparent;
  text-decoration: none;
  font-size: 25px;
}

#wave{
  position:fixed;
  top:0;
  fill:var(--var1-op1);
}

.text-dark{
  color:#140228;
}

.contacme{
  height: 1000px;
}

.anim{
  position:absolute;
}

.move1{
    animation: planetone 8s infinite ease-in-out;
}

.move2{
    animation: planet2 8s infinite ease-in-out;
}

.move3{
    animation: planet3 5s infinite ease-in-out;
}
/* Contacto */

.bg-blue{
  background-color:var(--op1-var);
}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.curve{
  background-color: var(--var1-op1);
  fill:var(--var2-op1)
}

.hero__status {
  padding: 8px;
  border: 1px solid hsl(270, 50%, 40%);
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1px;
  z-index: 5;
  gap: 8px;
  font-weight: 500;
  color: hsl(219, 13.5%, 71%);
  min-width:314.7px;
}

.hero__status::before {
  content: "";
  display: inline-block;
  aspect-ratio: 1;
  width: 16px;
  background-color: rebeccapurple;
  border: 1px solid hsl(256.7, 15%, 23.5%);

}


.bg-purple{
  background-color:var(--var1-op1);
}
.bg-lightpurple{
  background-color:var(--var3-op1);
}

.txt-purple{
  color:hsl(287.1, 59.8%, 64.9%);
}

.title{
  font-weight: 700 !important;
  font-size: 2rem;
}

.nav-link{
  display: inline-block;
  padding: 8px 16px;
  border-bottom: 1px solid hsl(193, 100%, 48.8%);
  margin: 1rem;
}
.main-footer{
  position:-webkit-sticky;
  position:sticky;
  bottom:0;
  border-color:red;
  transform:scaleX(-1);
  fill:var(--var3-op1);
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}


@keyframes planetone {
  0%   {top: 50px;}
  50%  {top: 140px;}
  100% {top: 50px;}
}

@keyframes planet2 {
  0%   {top: 130px;}
  50%  {top: 60px;}
  100% {top: 130px;}
}

@keyframes planet3 {
  0%   {top: 90px;}
  50%  {top: 110px;}
  100% {top: 90px;}
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.quote__text {
  padding: 32px;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--background);
}
.quote__text {
  padding: 32px;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--background);
}
.quote::before, .quote::after {
  content: '"';
  position: absolute;
  color: var(--var2-op1);
  font-size: 90px;
  font-weight: 700;
  background-image: linear-gradient(var(--background), var(--background));
  background-size: 100% 40%;
  background-repeat: no-repeat;
}
.quote {
  border: 1px solid var(--var2-op1);
  position: relative;
  margin: 0;
}
.quote::before {
  top: -45px;
  left: 16px;
}
.quote::after {
  bottom: -90px;
  right: 16px;
}

.quote h2{
  padding:32px;
}
